{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/template_selection.css' %}">

  <title>Select your Template</title>
</head>
<body>
  <h1>Select a Portfolio Template</h1>
  <p>Choose one of the following templates to start customizing:</p>

  <div class="template-container">
    <!-- Template 1 -->
    <div class="template-preview">
      <h3>Template 1</h3>
      <img src="{% static 'images/template1_preview.png' %}" alt="Template 1 Preview">
      <form method="post" action="{% url 'form_page' %}">
        {% csrf_token %}
        <button type="submit" name="template" value="template1">Select Template 1</button>
      </form>
    </div>

    <!-- Template 2 -->
    <div class="template-preview">
      <h3>Template 2</h3>
      <img src="{% static 'images/template2_preview.png' %}" alt="Template 2 Preview">
      <form method="post" action="{% url 'form_page' %}">
        {% csrf_token %}
        <button type="submit" name="template" value="template2">Select Template 2</button>
      </form>
    </div>

    <!-- Template 3 -->
    <div class="template-preview">
      <h3>Template 3</h3>
      <img src="{% static 'images/template3_preview.png' %}" alt="Template 3 Preview">
      <form method="post" action="{% url 'form_page' %}">
        {% csrf_token %}
        <button type="submit" name="template" value="template3">Select Template 3</button>
      </form>
    </div>

    <!-- Template 4 -->
    <div class="template-preview">
      <h3>Template 4</h3>
      <img src="{% static 'images/template4_preview.png' %}" alt="Template 4 Preview">
      <form method="post" action="{% url 'form_page' %}">
        {% csrf_token %}
        <button type="submit" name="template" value="template4">Select Template 4</button>
      </form>
    </div>
  </div>
</body>
</html>
